

<div class="flex flex-col justify-center items-center w-full min-w-fit p-4 border-2 gap-2 rounded-xl hover:transition hover:duration-500 hover:shadow-2xl hover:shadow-yellow-600 shadow-lg">
  <div class="lg:h-[280px] lg:w-[280px] w-[200px] h-[200px]">
      @if (data){
        <a [routerLink]="['/directorio/tienda']">
          <div class="item-directory card mx-3 mb-3 "><img width="100%" src="{{data.logo}}" alt="{{data.name}}"></div>
        </a>
      }@else {
          <h1>No se encontraron tiendas</h1>
      }
  </div>

</div>
