
.un-gran-centro {
  height: 100vh;
  background: url(../../../assets/Home/PlazarellaSanFranciscodelRinconGto.jpg) top center;
  background-size: cover;
  position: relative;
}



.vive-la-experiencia {

  background: url(../../../assets/Home/Mesa\ de\ trabajo\ 14.png) top center no-repeat;
  background-size: cover;
  position: relative;
}

.parallax .parallax-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

.descubre-magia {
  background: url(../../../assets/Home/Mesa\ de\ trabajo\ 20.png) top center;
  background-size: cover;
  position: relative;
}
