<app-navbar />
<app-margin-navbar />
<app-generic-banner [title]="'Directorio'" />
@if(shopResults$ | async; as results){
@if(results.success){
<div class="flex flex-wrap my-20 items-center justify-center">
  <div class="flex flex-wrap lg:w-2/6 w-full text-center justify-center lg:px-10 lg:pl-20 p-10">
    <div class="w-[100%]">

      <h2 class="text-4xl w-full text-center font-bold uppercase">{{results.data.shop.name}}</h2>

      <div class="flex flex-wrap my-5 w-full items-center text-start">
        <fa-icon class="text-4xl text-orange-600 mr-5" [icon]="fmark" />
        <div class="w-[80%]">
          <h6>Acerca de:</h6>
          <p>{{results.data.shop.description}}</p>
        </div>
      </div>

      <div class="flex flex-wrap my-5 w-full items-center text-start">
        <fa-icon class="text-4xl text-orange-600 mr-5" [icon]="fclock" />
        <div class="w-[80%]">
          <h6>Horario:</h6>
          <p>{{results.data.shop.workingDays}}</p>
        </div>
      </div>


      <div class="flex flex-wrap my-5 w-full items-center text-start">
        <fa-icon class="text-4xl text-orange-600 mr-5" [icon]="floc" />
        <div>
          <h6>Local</h6>
          <p>{{results.data.shop.address}}</p>
        </div>
      </div>

      <div class="flex flex-wrap my-5 w-full items-center text-start">
        <fa-icon class="text-4xl text-orange-600 mr-5" [icon]="fphone" />
        <div>
          <h6>Teléfono</h6>
          <p>{{results.data.shop.phone}}</p>
        </div>
      </div>

      <div class="flex flex-wrap my-5 w-full items-center text-start">
        <fa-icon class="text-4xl text-orange-600 mr-5" [icon]="fenvelope" />

        <div>
          <h6>Correo Electrónico</h6>
          <p>{{results.data.shop.email}}</p>
        </div>


        <div class="flex flex-wrap my-5 w-full items-center text-start">
          <fa-icon class="text-4xl text-orange-600 mr-5" [icon]="fGlobe" />

          <div>
            <h6 class="m-0">Página Web o Redes Sociales</h6>
            <p class="m-0">{{results.data.shop.webPage}}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="flex lg:flex-nowrap flex-wrap lg:w-4/6 w-full justify-center items-start relative px-20">
    <img
      class="lg:absolute lg:w-[20%] lg:none md:w-[30%]  w-[50%] lg:top-[15%] lg:left-[-5%] my-10 lg:my-0  bg-black shadow-black shadow-2xl hover:transition hover:duration-500 hover:shadow-2xl hover:shadow-yellow-600 "
      src="{{env + results.data.shop.logo}}" alt="">


      <img id="mainImage" class="w-auto lg:max-h-[700px] bg-black shadow-black shadow-2xl hover:transition hover:duration-500 hover:shadow-2xl hover:shadow-yellow-600"
      src="{{env + results.data.photos[0].image}}" alt="">


  </div>


</div>

<div>
  <ngx-slick-carousel class="carousel " #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)"
    (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">

    @for (photo of results.data.photos; track photo) {
    <div ngxSlickItem class="slide my-10 mx-5  shadow-black shadow-2xl hover:transition hover:duration-500 hover:shadow-2xl hover:shadow-yellow-600">
      <img class=" lg:max-h-[500px] md:max-h-[350px]  max-h-[200px]" (click)="image(photo.image)" src="{{ env + photo.image }}" alt="" width="100%">
    </div>
    }
  </ngx-slick-carousel>




</div>
}
}






<app-footer />
