<app-sidebar/>

<div class="flex flex-wrap lg:mx-0 mx-5 items-center justify-center lg:mt-10 pl-20 pr-10">
<div>
  <div class="flex mb-10">

      <h1 class="text-blue-500 text-4xl mr-10 uppercase">Posts de Blog</h1>

        <a class="text-blue-500 hover:text-white border-2 border-blue-s00 hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" href="postAgregar.html">Agregar post</a>


  </div>
</div>

  <div class="relative overflow-x-auto w-full shadow-xl sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase dark:text-gray-400">
        <tr>
              <th scope="col" class="px-6 py-3 bg-gray-200 dark:bg-gray-800 border-b border-black">
                Product name
              </th>
              <th scope="col" class="px-6 py-3 border-b border-black">
                Color
              </th>
              <th scope="col" class="px-6 py-3 bg-gray-200 dark:bg-gray-800 border-b border-gray-700">
                Category
              </th>
              <th scope="col" class="px-6 py-3 border-b border-black">
                  Price
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="border-b border-gray-200 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-200 dark:text-white dark:bg-gray-800">
                  Apple MacBook Pro 17"
              </th>
              <td class="px-6 py-4">
                Silver
              </td>
              <td class="px-6 py-4 bg-gray-200 dark:bg-gray-800">
                Laptop
              </td>
              <td class="px-6 py-4">
                $2999
              </td>
            </tr>
          <tr class="border-b border-gray-200 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-200 dark:text-white dark:bg-gray-800">
                  Microsoft Surface Pro
                </th>
                <td class="px-6 py-4">
                  White
              </td>
              <td class="px-6 py-4 bg-gray-200 dark:bg-gray-800">
                Laptop PC
              </td>
              <td class="px-6 py-4">
                $1999
              </td>
            </tr>
          <tr class="border-b border-gray-200 dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-200 dark:text-white dark:bg-gray-800">
              Magic Mouse 2
            </th>
            <td class="px-6 py-4">
              Black
            </td>
            <td class="px-6 py-4 bg-gray-200 dark:bg-gray-800">
              Accessories
            </td>
            <td class="px-6 py-4">
              $99
            </td>
          </tr>
          <tr class="border-b border-gray-200 dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-200 dark:text-white dark:bg-gray-800">
              Google Pixel Phone
            </th>
            <td class="px-6 py-4">
              Gray
            </td>
            <td class="px-6 py-4 bg-gray-200 dark:bg-gray-800">
              Phone
            </td>
              <td class="px-6 py-4">
                  $799
                </td>
              </tr>
              <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-200 dark:text-white dark:bg-gray-800">
                  Apple Watch 5
                </th>
                <td class="px-6 py-4">
                  Red
                </td>
                <td class="px-6 py-4 bg-gray-200 dark:bg-gray-800">
                  Wearables
                </td>
                <td class="px-6 py-4">
                  $999
              </td>
            </tr>
      </tbody>
  </table>
</div>

</div>
