<ul class="flex items-center -space-x-px h-8 text-sm">
    <li>
        <button [disabled]="!data.hasPreviousPage" (click)="navigateToRoute(+data.currentPage - 1)"
            class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-black bg-white border border-e-0 border-gray-300 rounded-s-lg disabled:text-gray-200 hover:disabled:bg-inherit disabled:bg-inherit hover:bg-gray-100 hover:disabled:text-gray-200 hover:text-gray-700 ">
            <span class="sr-only">Previous</span>
            <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M5 1 1 5l4 4" />
            </svg>
        </button>
    </li>
    @for (item of pagesNumber; track item) {
        <li>
            <button (click)="navigateToRoute(item)"
                class="flex items-center justify-center px-3 h-8 leading-tight border border-gray-300
                {{data.currentPage == item ? 'text-white bg-black': 'text-black bg-white hover:bg-gray-100 hover:text-gray-700'}}">{{item}}</button>
        </li>
    }
    <li>
        <button [disabled]="!data.hasNextPage"  (click)="navigateToRoute(+data.currentPage + 1)"
            class="flex items-center justify-center px-3 h-8 leading-tight text-black bg-white border border-gray-300 rounded-e-lg disabled:text-gray-200 hover:disabled:bg-inherit disabled:bg-inherit hover:bg-gray-100 hover:disabled:text-gray-200 hover:text-gray-700 ">
            <span class="sr-only">Next</span>
            <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m1 9 4-4-4-4" />
            </svg>
        </button>
    </li>
</ul>
