<footer class="flex justify-center items-center flex-col">
    <div class="w-full grid lg:grid-cols-7 sm:grid-cols-3 grid-cols-1 max-w-screen-2xl bg-[#efefef] p-2 sm:p-4">
        <div class="flex justify-center items-center">
            <img src="assets/Home/PLAZARELLA.png" alt="Plazarella" class="w-[100px] sm:w-full">
        </div>
        <div class="hidden sm:flex justify-center items-center">
            <div class="border border-solid border-black h-16"></div>
        </div>
        <div class="flex justify-center items-center flex-col">
            <fa-icon class="text-[40px]" [icon]="facebookIcon"/>
            <p>Síguenos</p>
        </div>
        <div class="hidden justify-center items-center lg:flex">
            <div class="border border-solid border-black h-16"></div>
        </div>
        <div class="flex justify-center items-center flex-col">
            <fa-icon class="text-[40px]" [icon]="phoneIcon"/>
            <p>01 476 743 5045</p>
        </div>
        <div class="hidden sm:flex justify-center items-center">
            <div class="border border-solid border-black h-16"></div>
        </div>
        <div class="flex justify-center items-center flex-col">
            <fa-icon class="text-[40px]" [icon]="location"/>
            <p class="text-center">Blvd Aquiles Serdán Centro #200, Centro, 36300 San Francisco del Rincón, Gto.</p>
        </div>
    </div>
    <div class="w-full bg-black flex justify-center items-center py-4">
        <div class="w-3/4 sm:w-1/2">
            <p class="text-white text-center">&copy; 2023 Todos los derechos reservados | Plazarella | Aviso de privacidad | Terminos y condiciones de uso</p>
        </div>
    </div>
</footer>